body{
    background-color: azure;
}
#ramka{
    display: flex;
    align-items: stretch;
    flex-direction: row;
    height: 330px;
    width: 840px;
    border: 7px double blueviolet;
    margin: 0 auto;
}
#A{
    background-image: linear-gradient(#097932, #00d4ff);
    flex-basis: 100px;
    flex-grow: 1;
}
#R{
    background-image: linear-gradient(#097932, #79ff00);
    flex-basis: 100px;
    flex-grow: 1;

}
#S{
    background-image: linear-gradient(#e0ff00, #097932);
    flex-basis: 100px;
    flex-grow: 1;
}
#E{
    background-image: linear-gradient(#2dcbfd, #22c398);
    flex-basis: 100px;
    flex-grow: 1;
}
#N{
    background-image: linear-gradient(#847de7, #2253c3);
    flex-basis: 100px;
    flex-grow: 1;
}
#A2{
    background-image: linear-gradient(#e079ee, #6b62e7);
    flex-basis: 100px;
    flex-grow: 1;
}
#L{
    background-image: linear-gradient(#4d93a7, #156d55);
    flex-basis: 100px;
    flex-grow: 1;
}
a{
    color: white;
    text-decoration: none;
    font-size: 70px;
    font-family: fantasy;
    
}
a.one{
    transition-duration: .5s; 
    margin-top: 30px;
}
a.one:hover{
    color: yellowgreen;
}
.letter{
    margin-top: 100px;
    text-align: center;
}