.container{
    width: 100%;
    display: flex;
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin-top: 50px;
    margin-left: 50px;
}
input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
button{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: blue;
}
table{
    width: 400px;
    margin-top: 70px;
    margin-left: 100px;
}
th{
    font-size: 18px;
    margin-left: 0;
}
.editUser{
    background-color: rgba(241, 144, 15, 0.822);
    display: none;
}